{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome, {{ user['display_name'] }}!</h1>
    <hr class="my-4 border border-light">
    <p>You have {{ user['followers']['total'] }} followers,
        and you can go to your profile
        <a href="{{ user['external_urls']['spotify'] }}" target="_blank">here</a>
    </p>
    <div class="d-block">
        {% if user['images'] %}
        <img src="{{user['images'][0]['url'] }}">
    {% endif %}
    </div>
    <a class="btn btn-primary btn-lg" href="/favorites" role="button">See your favorites</a>

    </div>
{% endblock %}